[submodule "meta/dotbot"]
	path = meta/dotbot
	url = git://github.com/anishathalye/dotbot
[submodule "meta/yay"]
	path = meta/yay
	url = git://github.com/oxson/dotbot-yay
[submodule "meta/rust"]
	path = meta/rust
	url = git://github.com/alexcormier/dotbot-rust
