#ignore all the plugins of vim 
vim/plugged/*

#ignore all the plugins of tmux
tmux/plugins/*

vim/backups/*

*.sublime-project
*.sublime-workspace
i3/.i3*.err
vim/.netrwhist
vim/session
config/ranger/bookmarks
config/ranger/history
config/ranger/colorschemes/*
