#ignore all the plugins of vim 
vim/plugged/*

#ignore all the plugins of tmux


vim/backups/*
vim/autoload/*
*.sublime-project
*.sublime-workspace
i3/.i3*.err
vim/.netrwhist
vim/session
config/ranger/bookmarks
config/ranger/history
config/ranger/colorschemes/*
tmux/plugins/*
shells/tmux/plugins/*
shells/tmux/sidebar
.netrwhist
config/sublime-text-3/*
!config/sublime-text-3/Packages/User/*-settings
config/papis/*
!config/papis/config
config/Code\ -\ OSS/*
!config/Code\ -\ OSS/User/*.json
__pycache__/
__init__.py
apps/broot/launcher
