general {
    output_format = i3bar
    interval = 5
    colors = true
    color_bad = "#fb4934"
    color_degraded = "#fabd2f"
    color_good = "#b8bb26"
}

order += "window_title"
order += "volume master"
order += "wifi"
order += "battery_level"
order += "time"

window_title{
   
}

wifi{
    format_up= "  {ssid} {signal_percent}"
    format_down= "  Airplane Mode"
    on_click 1= "exec terminator -e nmtui"
}

volume master {
    format = "  %volume"
    format_muted = "  %volume"
}

wireless wlp4s0 {
    format_up = "  %essid"
    format_down = "  none"
}


battery_level {
    battery_id = all
    format = "  {percent}%"
    notify_low_level = True
}

time {
    format = "  %d-%m-%Y %H:%M"
}

